LEGISCAN_USERNAME=[your username here]
LEGISCAN_PASSWORD=[your password here]
LEGISCAN_API_KEY=[your api key here]

OPENSTATES_USERNAME=[your username here]
OPENSTATES_PASSWORD=[your password here]
OPENSTATES_API_KEY=[your api key here]
